<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>단어 검색</title>
    <style>
        body {
            font-family: sans-serif;
        }
        .center-container {
            text-align: center;
            margin-top: 100px;
        }
        input[type="text"] {
            padding: 8px;
            width: 300px;
            font-size: 16px;
        }
        button {
            padding: 8px 16px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="center-container">
        <h1>단어장 검색</h1>
        <form method="get" action="/search" id="search-form">
            <input type="text" name="q" placeholder="단어를 입력하세요" value="{{ query or '' }}">

            <button type="submit">Search</button>

            <label style="margin-left: 10px">
                <input type="radio" name="order" value="asc" {% if order == 'asc' %}checked{% endif %} onchange="this.form.submit()">
                Ascending
            </label>

            <label style="margin-left: 10px">
                <input type="radio" name="order" value="desc" {% if order == 'desc' %}checked{% endif %} onchange="this.form.submit()">
                Descending
            </label>

        </form>
    </div>

    {% if results %}
        <h2>검색 결과 ({{ results|length }}개)</h2>
        <ul>
            {% for word in results %}
                <li>
                    <strong>{{ word.english }}</strong> {{ word.pronunciation }} - {{ word.part_of_speech }}<br>
                    <em>뜻 : {{ word.meaning }}</em><br>
                    카테고리: {{ word.category}}<br>
                    보조카테고리: {{ word.subcategory}}<br>
                    예문: {{ word.example_sentence }}<br>
                    해석: {{ word.example_translation }}<br>
                    유의어: {{ word.synonym }}<br>
                    반의어: {{ word.antonym }}<br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% elif query %}
        <p>검색 결과가 없습니다.</p>
    {% endif %}
</body>
</html>
